.todo-add-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #1C1C1C;
    width: calc(100vw/3);
    max-width: 400px;
    min-width: 230px;
}